@import url('https://fonts.googleapis.com/css?family=Damion|Montserrat|Raleway');

@font-face {
    font-family: "Aldo the Apache";
    src: url('../fonts/AldotheApache.ttf');
}

body {
    background-image: url('../images/background.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.container {
    max-width: 480px;
}

#app {
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    max-width: 720px;
    margin: 40px auto;
    border-radius: 25px 0 0 25px;
}

#logo {
    text-align: center;
}

.logo {
    text-align: center;
}

.form-control:focus {
    box-shadow: none;
}

.btn {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    padding: 5px;
    height: 60px;
    line-height: 60px;
}

.btn-option {
    line-height: 40px;
    text-align: left;
}

[type='radio'] {
    display: none;
}

.Agrupar_1 {
    position: absolute;
    left: -24px;
    top: -4px;
    width: 770px;
    height: 770px;
    z-index: 12;
}

.soccer_ball_world_cup {
    background-image: url("soccer_ball_world_cup.png");
    position: absolute;
    left: 493px;
    top: 390px;
    width: 87px;
    height: 87px;
    z-index: 11;
}

.ranking {
    font-size: 45px;
    font-family: "Aldo the Apache";
    color: rgb(251, 251, 249);
    line-height: 1.644;
    text-align: left;
    -moz-transform: matrix(1.15522388059701, 0, 0, 1.15492957746479, 0, 0);
    -webkit-transform: matrix(1.15522388059701, 0, 0, 1.15492957746479, 0, 0);
    -ms-transform: matrix(1.15522388059701, 0, 0, 1.15492957746479, 0, 0);
    position: absolute;
    left: 314.405px;
    top: 396.01px;
    z-index: 10;
}

.Camada_2 {
    background-image: url("Camada 2.png");
    position: absolute;
    left: 179px;
    top: 387px;
    width: 412px;
    height: 75px;
    z-index: 9;
}

.Ret_ngulo_Arredondado_1 {
    border-radius: 10px;
    background-image: -moz-linear-gradient(90deg, rgb(0, 96, 27) 0%, rgb(29, 112, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 96, 27) 0%, rgb(29, 112, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 96, 27) 0%, rgb(29, 112, 0) 100%);
    position: absolute;
    left: 174px;
    top: 382px;
    width: 422px;
    height: 102px;
    z-index: 8;
}

.rk-avatar {
    border-radius: 100%;
}